# Assignment 2 
### Kusal Bista

In [216]:
# Libraries for reading data
import random
import numpy as np
import pandas as pd 
import glob
import json
from tqdm import tqdm

# Libraries for pre-processing
import re
import nltk

from nltk import tokenize
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import string

# Libraries for information retrieval
import spacy
from spacy import displacy
from spacy.lang.en import English
import networkx as nx
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Libraries for data analysis
import matplotlib.pyplot as plt
from tabulate import tabulate

In [217]:
# !pip install spacy
# !python -m spacy download en_core_web_sm
# !python -m spacy download en_core_web_md
# !pip install tabulate
# !pip install nltk

In [218]:
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\a1881044\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\a1881044\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\a1881044\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\a1881044\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

### 1 Reading dataset and pre-processing

In [219]:
news_dataset = pd.read_csv('news_dataset.csv', encoding='latin-1')

In [220]:
news_dataset.head()

,id,author,date,year,month,topic,article
0,17307,Marlise Simons,1/01/2017,2017,1,architecture,PARIS ? When the Islamic State was about to...
1,17292,Andy Newman,31/12/2016,2016,12,art,Angels are everywhere in the Mu?iz family?s ap...
2,17298,Emma G. Fitzsimmons,2/01/2017,2017,1,business,Finally. The Second Avenue subway opened in Ne...
3,17311,Carl Hulse,3/01/2017,2017,1,business,WASHINGTON ? It?s or time for Republica...
4,17339,Jim Rutenberg,5/01/2017,2017,1,business,"For Megyn Kelly, the shift from Fox News to NB..."

In [221]:
# # selecting 100 sample 
# sample_size = 100
# if news_dataset.shape[0] >= sample_size:
#     news_dataset_sm = news_dataset.sample(n=sample_size, random_state=42)  # Adjusting random_state for reproducibility
#     news_dataset_sm.reset_index(drop=True, inplace=True) 
#     print("Sampled dataset shape:", news_dataset_sm.shape)
# else:
#     print("Dataset size is less than the sample size. Cannot perform sampling.")

In [222]:
news_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       1000 non-null   int64
 1   author   994 non-null    object
 2   date     1000 non-null   object
 3   year     1000 non-null   object
 4   month    1000 non-null   object
 5   topic    1000 non-null   object
 6   article  1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

### 1.2 Handling missing value

In [223]:
print("Missing value")
print(news_dataset.isnull().sum())

Missing value
id         0
author     6
date       0
year       0
month      0
topic      0
article    0
dtype: int64

In [224]:
# Handling missing value
news_dataset['author'] = news_dataset['author'].fillna('No author')
# checking missing value after handling missing value

In [225]:
print("After handling missing value")
print(news_dataset.isnull().sum())

After handling missing value
id         0
author     0
date       0
year       0
month      0
topic      0
article    0
dtype: int64

### 1.3 Data pre-processing

In [226]:
def pre_process(data):
    # Define stop words
    stop_words = set(stopwords.words('english'))
    stop_words.update(["This", "The", "the"])

    s = " \[(?=.*\d).*?\]" 

    # Lemmatization and removal of stopwords
    lemmatizer = WordNetLemmatizer()

    result = []
    for text in data:
        # Clean text
        # Remove non-ASCII characters
        text = ''.join([char for char in text if ord(char) < 128])

        # Remove multiple spaces
        text = re.sub(r'\s+', ' ', text)

        # Remove question mark problems
        text = re.sub(r'(\s\?)',' ',text)
        text = re.sub(r"\b\?\b", "\'", text)
        text = re.sub(r"(,\?)",",", text)
        text = re.sub(r"\?+", "?", text)
        text = text.strip()

        # Lemmatization and removal of stopwords
        processed_text = " ".join([lemmatizer.lemmatize(word) for word in re.sub(s, "", text).split() if word.lower() not in stop_words])

        result.append(processed_text)

    return result

In [227]:
news_dataset['processed_article'] = pre_process(news_dataset['article'])

In [228]:
news_dataset.head()

,id,author,date,year,month,topic,article,processed_article
0,17307,Marlise Simons,1/01/2017,2017,1,architecture,PARIS ? When the Islamic State was about to...,PARIS Islamic State driven ancient city Palmyr...
1,17292,Andy Newman,31/12/2016,2016,12,art,Angels are everywhere in the Mu?iz family?s ap...,Angels everywhere Mu'iz family's apartment Bro...
2,17298,Emma G. Fitzsimmons,2/01/2017,2017,1,business,Finally. The Second Avenue subway opened in Ne...,Finally. Second Avenue subway opened New York ...
3,17311,Carl Hulse,3/01/2017,2017,1,business,WASHINGTON ? It?s or time for Republica...,WASHINGTON time Republicans. tumultuous decade...
4,17339,Jim Rutenberg,5/01/2017,2017,1,business,"For Megyn Kelly, the shift from Fox News to NB...","Megyn Kelly, shift Fox News NBC host daily day..."

In [273]:
# Loading spaCy model
nlp_md = spacy.load("en_core_web_md")

class TextMatchingUtility:
    def __init__(self, entities, dataset, kb):
        self.ner = entities  # Named Entity Recognition result
        self.data = dataset  # Dataset
        self.kb = kb  # Knowledge Base
        self.nlp = spacy.load("en_core_web_sm")

    def preprocess_query(self, query):
        """
        Preprocess the query by removing stopwords and lemmatizing.

        Args:
        query: Input query string.

        Returns:
        List containing preprocessed query.
        """
        # Regular expression to match text patterns
        s = " \[(?=.*\d).*?\]"

        # Removing stopwords and Lemmatization
        stop_words = stopwords.words('english')
        stop_words.extend(["This", "The", "the"])
        lemmatizer = WordNetLemmatizer()
        result = [" ".join([lemmatizer.lemmatize(word) for word in re.sub(s, "", query).split() if word not in stop_words])]
        return result


    def tf_idf_score(self, query, articles):
        """
        Calculate TF-IDF similarity score between query and articles.

        Args:
        query: Preprocessed query.
        articles: List of articles.

        Returns:
        Array of similarity scores.
        """          
        vectorizer = TfidfVectorizer()
        # Convert to word vector
        articles_wv = vectorizer.fit_transform(articles)
        # Convert to word vector
        query_wv = vectorizer.transform([query]) 
        # Calculate similarity
        similarities = cosine_similarity(query_wv, articles_wv)[0]
        return similarities

    def spacy_score(self, query, articles):
        """
        Calculate SpaCy similarity score between query and articles.

        Args:
        query: Preprocessed query.
        articles: List of articles.

        Returns:
        List of similarity scores.
        """
        # Convert to word vector
        query_nlp = nlp_md(str(query))
        # Convert to word vector
        articles_nlp = [nlp_md(article) for article in articles]
        # Calculate similarity
        similarities = [query_nlp.similarity(article_nlp) for article_nlp in articles_nlp]
        return similarities
    
    def get_best_sentence(self, query, article_id, word_vector):
        article = self.data.loc[self.data['id'] == article_id, 'processed_article'].iloc[0]
        # Convert text into sentences
        sentences_clean = tokenize.sent_tokenize(article)
        # Calculate similarity
        if word_vector == "tf-idf":
            similarities = self.tf_idf_score(query, sentences_clean)
        elif word_vector == "spaCy":
            similarities = self.spacy_score(query, sentences_clean)
    
        # Get the maximum score index position
        best_idx = np.array(similarities).argmax()
        # Get the best score
        best_score = max(similarities)
        # Get original data
        for j in range(len(self.data['id'])):
            if self.data['id'][j] == article_id:
                topic = self.data['article'][j]
        sentences_topic = tokenize.sent_tokenize(topic)
        answer = sentences_topic[best_idx]
        print("The article id is ", article_id)  
        print("Question \n", query)
        if best_score < 0.3:
            print("No answer found")
        else:
            print("Answer: \n", answer)
            print("The score is ", best_score,"\n")

In [276]:
# Create an instance of TextMatchingUtility
tm_utility = TextMatchingUtility(article_ner_dict, news_dataset, KB2)

# # Sample question
question = "What types of items are included in Jonathan Lethem's archive besides manuscripts and letters?"
article_id = 17328
top_results = tm_utility.get_best_sentence(question,article_id, word_vector ='spaCy')

The article id is  17328
Question
 What types of items are included in Jonathan Lethem's archive besides manuscripts and letters?
Answer:
 ?I cannot imagine myself not sharing the skills and   talent that I have,?
The score is  0.7597321053798365

## A. Tasks as specified for your team structure

**One headings for each task.**

## B. References

## C. Appendix